  * {
    box-sizing: border-box;
  }
  
  :root {
    --bgnav: #333;
    --fonte:white;
    --bgsite: #f1f1f1;
    --btHover: #aaa;
    --toggle

  }

  body {
    background-color: aliceblue;
}
header {
    background-color: white;
    padding: 30px;
    text-align: center;
}
nav {
    background-color: var(--bgnav);
    display: flex;
    flex-direction:row;
}
nav a {
    text-decoration: none;
    color: var(--fonte);
    flex: 1;
    min-width: 120px;
    text-align: center;
    padding: 16px;
}
main { 
    display: flex;
}
#coluna-75 {
    width: 75%
}
#coluna-25 {
    width: 25%;

}
section {
    background-color: var(--fonte);
    padding: 20px ;
    margin-bottom: 20px;
}

.imgFake {
    background-color: var(--btHover);
    width: 100%;


}
footer {
    background-color: var(--fonte);
    text-align: center;
    padding: 30px;
}
@media (max-width: 800px) {
    main {
        flex-direction: column;
    }

    #coluna-75 {
        width:100% ;

    }

    #coluna-25 {
        width: 100px;
        padding-left: 0;

    }
}


#troca button {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 50%;
    border: 0;
    border-radius: 50px;
    

}




label[for="btn-menu"] {
    height: 50px;
    flex: 1;
    background-color: var(--bgnav);
    cursor: pointer;
}
.active {
    display: flex;
}
}